@import "tailwindcss";

html,
body{
  background-color: #26023bc9;
  color: #ffffff;
}

button{
  background-color: #ffffff;
  color: #111111;
  font-weight: 700;
}

button:hover{
  background-color: #c2b7b7;
}
